[submodule "_ethereum-whitepaper"]
	path = _ethereum-whitepaper
	url = https://github.com/bitsblocks/ethereum-whitepaper
[submodule "_get-rich-quick-bible"]
	path = _get-rich-quick-bible
	url = https://github.com/bitsblocks/get-rich-quick-bible
[submodule "_bitcoin-maximalist"]
	path = _bitcoin-maximalist
	url = https://github.com/bitsblocks/bitcoin-maximalist
[submodule "_ethereum"]
	path = _ethereum
	url = https://github.com/bitsblocks/ethereum
[submodule "_crypto-facts"]
	path = _crypto-facts
	url = https://github.com/bitsblocks/crypto-facts
[submodule "_bitcoin-whitepaper"]
	path = _bitcoin-whitepaper
	url = https://github.com/bitsblocks/bitcoin-whitepaper
