---
layout: page
title:  Welcome
---

<style>
/* github avatar added w avatar plugin  -- todo: move to "custom css" file */
img.avatar {
  border-radius: 3px;
  border: 0;
}

/* style for author  - in byline for books */

a.author {
   color: black;
   text-decoration: none;
}

a.author:hover,
a.author:focus {
    text-decoration: underline;
}


/* style for tags e.g. listing gems referenced in book */

.tags {
   font-size: 70%;
}

.tags a {
   color: black;
   text-decoration: none;
}

.tags a:hover,
.tags a:focus {
    text-decoration: underline;
}
</style>




<h1>Bits &amp; Blocks Press Bookshelf</h1>

<p>Welcome. Free Books in the Bits &amp; Blocks Press Series about
   Bitcoins, Blockchains, Contract Scripts 'n' More
   include:
</p>



<p>
  <b><a href="bitcoin-maximalist">Best of Bitcoin Maximalist - Scammers, Morons, Clowns, Shills &amp; BagHODLers - Inside The New New Crypto Ponzi Economics</a></b>
      by
      {% include author.html author='Trolly McTrollface' %},
      et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/bitsblocks/bitcoin-maximalist">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/bitsblocks/bitcoin-maximalist"
    data-icon="octicon-star"
    data-count-href="/bitsblocks/bitcoin-maximalist/stargazers"
    data-count-api="/repos/bitsblocks/bitcoin-maximalist#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star bitsblocks/bitcoin-maximalist on GitHub">Star</a>
</p>


<p>
  <b><a href="crypto-facts">Crypto Facts  -  Decentralize Payments - Efficient, Low Cost, Fair, Clean - True or False?</a></b>
      by
      {% include author.html author='Nouriel Roubini' %},
      {% include author.html author='David Gerard' %},
      et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/bitsblocks/crypto-facts">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/bitsblocks/crypto-facts"
    data-icon="octicon-star"
    data-count-href="/bitsblocks/crypto-facts/stargazers"
    data-count-api="/repos/bitsblocks/crypto-facts#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star bitsblocks/crypto-facts on GitHub">Star</a>
</p>


<p>
  <b><a href="crypto-bubbles">Crypto is the Mother of All Scams and (Now Busted) Bubbles</a></b>
      by
      {% include author.html author='Nouriel Roubini' %}
    <span style="font-size: 70%;">
         (<a href="https://github.com/bitsblocks/crypto-bubbles">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/bitsblocks/crypto-bubbles"
    data-icon="octicon-star"
    data-count-href="/bitsblocks/crypto-bubbles/stargazers"
    data-count-api="/repos/bitsblocks/crypto-bubbles#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star bitsblocks/crypto-bubbles on GitHub">Star</a>
</p>



<p>
  <b><a href="bitcoin-whitepaper">Bitcoin White Paper - A Peer-to-Peer Electronic Cash System</a></b>
      by
      {% include author.html author='Satoshi Nakamoto' %}
    <span style="font-size: 70%;">
         (<a href="https://github.com/bitsblocks/bitcoin-whitepaper">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/bitsblocks/bitcoin-whitepaper"
    data-icon="octicon-star"
    data-count-href="/bitsblocks/bitcoin-whitepaper/stargazers"
    data-count-api="/repos/bitsblocks/bitcoin-whitepaper#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star bitsblocks/bitcoin-whitepaper on GitHub">Star</a>
</p>



<p>
  <b><a href="islandcoin-whitepaper">IslandCoin White Paper - A Pen and Paper Cash System - How to Run a Blockchain on a Deserted Island</a></b>
      by
      {% include author.html author='Tal Kol' %}
    <span style="font-size: 70%;">
         (<a href="https://github.com/bitsblocks/islandcoin-whitepaper">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/bitsblocks/islandcoin-whitepaper"
    data-icon="octicon-star"
    data-count-href="/bitsblocks/islandcoin-whitepaper/stargazers"
    data-count-api="/repos/bitsblocks/islandcoin-whitepaper#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star bitsblocks/islandcoin-whitepaper on GitHub">Star</a>
</p>



<p>
  <b><a href="ethereum-whitepaper">Ethereum White Paper - A Next-Generation Blockchain Service Contract and Decentralized Application Platform</a></b>
      by
      {% include author.html author='Vitalik Buterin' %},
      et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/bitsblocks/ethereum-whitepaper">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/bitsblocks/ethereum-whitepaper"
    data-icon="octicon-star"
    data-count-href="/bitsblocks/ethereum-whitepaper/stargazers"
    data-count-api="/repos/bitsblocks/ethereum-whitepaper#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star bitsblocks/ethereum-whitepaper on GitHub">Star</a>
</p>


<p>
  <b><a href="ethereum">Mastering Ethereum - Building Blockchain Service Contracts and Decentralized Apps (WORK-IN-PROGRESS / DRAFT)</a></b>
      by
      {% include author.html author='Andreas M. Antonopoulos' %},
      {% include author.html author='Gavin Wood' %},
      et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/bitsblocks/ethereum">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/bitsblocks/ethereum"
    data-icon="octicon-star"
    data-count-href="/bitsblocks/ethereum/stargazers"
    data-count-api="/repos/bitsblocks/ethereum#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star bitsblocks/ethereum on GitHub">Star</a>
</p>



<p>
  <b><a href="get-rich-quick-bible">Get Rich Quick "Business Blockchain" Bible - The Secrets of Free Easy Money</a></b>
      by
      {% include author.html author='Gerald Bauer' %},
      et al
    <span style="font-size: 70%;">
         (<a href="https://github.com/bitsblocks/get-rich-quick-bible">Source in the Manuscripts book format</a>)
    </span>
<a class="github-button" href="https://github.com/bitsblocks/get-rich-quick-bible"
    data-icon="octicon-star"
    data-count-href="/bitsblocks/get-rich-quick-bible/stargazers"
    data-count-api="/repos/bitsblocks/get-rich-quick-bible#stargazers_count"
    data-count-aria-label="# stargazers on GitHub"
    aria-label="Star bitsblocks/get-rich-quick-bible on GitHub">Star</a>
</p>






<div style="font-size: 70%; border-top: 1px solid #767676; margin-top: 60px;">

<p>
More Bookshelves
</p>

<a href="http://yukimotopress.github.io">Yuki &amp; Moto Press</a> •
<a href="http://hydepress.github.io">Hyde Press</a> •
<a href="http://funpress.github.io">Fun Press</a> •
<a href="http://worldclassics.github.io">World Classics</a>


<p style="text-align: center; margin-top: 25px; color: #767676;">
     Built with <a href="http://github.com/octobook">Octobook</a>
      (powered by <a href="https://jekyllrb.com">Jekyll</a>) on {{ site.time }} in 2.371 seconds.<br>
      Hosted on <a href="https://pages.github.com">GitHub Pages</a>.
      &lt;/&gt; <a href="https://github.com/bitsblocks/bitsblocks.github.io">Source</a> on GitHub.
      (0) Dedicated to the public domain.
  </p>


</div>


<!-- GitHub Buttons
   Place this tag right after the last button or just before your close body tag.
    see https://buttons.github.io
  -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
